# A First Python Notebook

Dr J Rogel-Salazar

Python as a calculator

In [1]:
1+1

2

In [2]:
print("Hello world!")

Hello world!

In [3]:
print("hi")

hi

In [4]:
print(1+1)
print(7+9)
print(89/65)
9.6-800

2
16
1.3692307692307693

-790.4

Importing modules

In [5]:
from math import cos, sin, tan, pi

In [6]:
x = cos(2*pi)

In [7]:
print(x)

1.0

In [8]:
x = 1.0

In [9]:
my_variable = 86

Checking values and types

In [10]:
x

1.0

In [11]:
type(my_variable)

int

In [12]:
type(x)

float

In [13]:
x

1.0

In [14]:
x=10

In [15]:
print(x)

10

In [16]:
y = 8

In [17]:
x+y

18

In [18]:
(x/y)*my_variable-cos(78)

108.35780309324498

In [19]:
b1 = True
type(b1)

bool

In [20]:
name = "Martin"

type(name)

str

Making comments

In [21]:
# Dear human, this is an example of a string
name2 = 'Danielle'
# type(name2)

# Lists

In [22]:
l = [1,2,3,4]
type(l)

list

In [23]:
l[0:2]

[1, 2]

In [24]:
print(l[1:3])

[2, 3]

In [25]:
names = ["Jay", "Antony", 'Maria', "Peter", "Eve"]

In [26]:
for name in names:
    print('Hello ' + name)

Hello Jay
Hello Antony
Hello Maria
Hello Peter
Hello Eve

In [27]:
type(names)

list

In [28]:
x = 'Laura'
type(x)

print("Hello " + names[1])

Hello Antony

In [29]:
for i in names:
    print(i)
    print(type(i))

Jay
<class 'str'>
Antony
<class 'str'>
Maria
<class 'str'>
Peter
<class 'str'>
Eve
<class 'str'>

In [30]:
start = 1
end = 4
names[start:end]

['Antony', 'Maria', 'Peter']

In [31]:
names[:]

['Jay', 'Antony', 'Maria', 'Peter', 'Eve']

In [32]:
names[-2:]

['Peter', 'Eve']

In [33]:
names[1]

'Antony'

In [34]:
names[4]

'Eve'

In [35]:
names[-2]

'Peter'

# Tuples

In [36]:
point = (10, 10)

In [37]:
point

(10, 10)

In [38]:
point[0]

10

In [39]:
point[1]

10

In [40]:
x, y = point
print(x)
print(y)

10
10

In [41]:
some_variable = point

In [42]:
some_variable

(10, 10)

# Dictionaries

In [43]:
params = {"param1" : 1.0, "param2" : 2.0,
         "param3" : 3.0, "params4": [5, 6, 7, 8]}

In [44]:
type(params)

dict

In [45]:
params['param1']

1.0

In [46]:
length = len(params['params4'])
params['params4'][0:length-2]

[5, 6]

# Functions

Let's write a function that calculates the area of a circle of radius `r`.

In [47]:
from math import pi

def area_circ(r):
    """
    This function calculates the
    area of a circle of radius r
    """
    area = pi*r**2
    return area

In [48]:
radius = 9
area = area_circ(radius)
print(area)

254.46900494077323

In [49]:
?area_circ

Let us define a new function, one that calculate the square of a number.

In [50]:
def square(x):
    return x**2

In [51]:
x = 40

square = x * x
print("The square is " + str(square))
if x>10:
    cube = x**3
    print("The cube is " + str(cube))

The square is 1600
The cube is 64000

In [52]:
type(str(square))

str

In [53]:
sentence = "Python is awesome!"

for letter in sentence:
    print(letter)

P
y
t
h
o
n

i
s

a
w
e
s
o
m
e
!

In [54]:
sentence[-5:]

'some!'

In [55]:
sentence

'Python is awesome!'